.servicios{
  padding: 100px 40px;
  background: #fff;
}

.contenedor{
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.servicios h2{
  font-size: 32px;
  color: #b76e79;
}

.subtitulo{
  margin-bottom: 40px;
  color: #777;
}

/* SLIDER */
.slider{
  display: flex;
  gap: 25px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 20px;
}

/* ocultar scrollbar */
.slider::-webkit-scrollbar{
  display: none;
}

/* TARJETAS */
.card{
  min-width: 280px;
  flex: 0 0 auto;

  background: #f9f5f4;
  border-radius: 15px;
  overflow: hidden;

  box-shadow: 0 5px 20px rgba(0,0,0,0.05);

  scroll-snap-align: start;
  transition: 0.3s;
}

/* HOVER */
.card:hover{
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* IMAGEN */
.card img{
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* CONTENIDO */
.card h3{
  color: #b76e79;
  margin: 15px;
}

.card p{
  color: #555;
  font-size: 14px;
  margin: 0 15px 20px;
}